:root {
    --bg-color: #F7F7F7;
    --main-color: white;
    --secondary-color: #213966;
    font-size: 18px;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 950px) {
    :root {
        font-size: 14px;
    }
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    :root {
        font-size: 10px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

section {
    width: 100%; 
    height: fit-content; 
    background-color: var(--bg-color); 
    padding-top: 1vw; 
    padding-bottom: 6vw;
}

.button {
  background-color: var(--secondary-color);
  border-radius: 0;
  border-style: none;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  width: fit-content;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (max-width: 450px) {
    .button {
        height: 24px;
        padding: 7px 12px;
        line-height: 0px;
    }
}

.button:hover,
.button:focus {
  background-color: #132444;
}

.header {
    margin-top: 4vw;
    margin-bottom: 6vw;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

/* Навбар */

.navbar {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: space-between; /* Расположить элементы по краям контейнера */
    align-items: center; /* Центрирование по вертикали */
    height: 100px;
}

.navbar .logo {
    margin-left: 3%;
    height: 50%;
}

.navbar .right-side-part {
    height: 66%;
    margin-right: 3%;
    display: flex;
    gap: 20px; /* Промежуток между элементами */
    align-items: center; /* Центрирование по вертикали */
}

.navbar .right-side-part img {
    height: 100%;
}

.navbar .right-side-part .left-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Максимальное расстояние между строками */
}

.navbar .right-side-part .left-column .navbar-text {
    font-size: 1.5rem;
    font-family: 'Sansation Light';
    text-align: end;
    text-decoration: underline;
}

.navbar-number {
    font-size: 1.5rem;
    font-family: 'Sansation Light';
    text-align: end;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 950px) {
    .navbar {
        height: 75px; /* Высота навбара увеличивается на маленьких экранах */
    }
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .navbar {
        height: 50px; /* Высота навбара увеличивается на маленьких экранах */
    }
}

/* Конец навбара */

/* Начало главного баннера */

.main-banner {
    width: 100%;
    height: 500px;
    position: relative; /* Позволяет позиционировать элементы внутри баннера */
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: start;
    background: url('./images/back.png') no-repeat center center;
    background-size: cover; /* Заполнение фона изображением */
}

.main-banner .container {
    margin-top: 10%;
    margin-bottom: 5%;
    height: 100%;
    width: 75%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.main-banner .container .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33%;
    justify-content: center;
}

.main-banner .container .row span {
    font-weight: 600;
}

.main-banner .container .row .name-text {
    font-size: 2.75rem;
}

.main-banner .container .row .secondary-name-text {
    font-size: 1.75rem;
}

.main-banner .container .row .usual-text {
    font-size: 1.25rem;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .main-banner {
        height: 350px;
    }
}

/* Конец главного баннера */

/* Начало услуг */

.container-for-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 0%;
}

.container-for-services .column-for-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    gap: 9vw;
    height: 100%;
}

.container-for-services .column-for-line {
    width: 10%;
    height: 100%;
}

.container-for-services .column-for-line .vertical-line {
    width: 2px;
    height: 1100px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.container-for-services .info-element {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 80%;
    gap: 2vw;
}

.container-for-services .info-element .title-of-service {
    font-size: 1.25rem;
    font-weight: 700;
}

.container-for-services .info-element .usual-text-of-service {
    font-size: 1rem;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .container-for-services .column-for-line .vertical-line {
        width: 1px;
        height: 750px;
    }
    
    .container-for-services .info-element {
        width: 95%;
        gap: 2vw;
    }
}

/* Конец услуг */

/* Начало карточек преимуществ */

.advantages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    width: 300px;
}

.advantage-card .icon {
    margin-left: auto;
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-top: -75%;
}

.advantage-card .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50%;
    height: 50%;
    font-size: 1.25rem;
    font-weight: 500;
}

.advantage-card .line {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 3px;
    background-color: var(--secondary-color);
    margin-top: auto;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 950px) {
    .advantage-card {
        height: 200px;
        width: 200px;
    }

    .advantage-card .icon {
        height: 45px;
        width: 45px;
    }

    .advantages {
        width: 90%;
        gap: 5%;
    }

    .advantage-card .line {
        height: 2px;
    }
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .advantage-card {
        height: 150px;
        width: 150px;
    }

    .advantage-card .icon {
        height: 30px;
        width: 30px;
    }

    .advantages {
        width: 90%;
        gap: 5%;
    }

    .advantage-card .line {
        height: 2px;
    }
}

/* Конец карточек преимуществ */

/* Начало заказа звонка */

.container-for-call {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url('./images/back2.jpg') no-repeat center center;
    background-size: cover; /* Заполнение фона изображением */
    height: 100%;
    width: 100%;
    height: 500px;
}

.container-for-call .call-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-right: 45%;
    margin-left: 15%;
    width: 40%;
    gap: 10vw;
}

.container-for-call .call-column h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

@media (max-width: 450px) {
    .container-for-call {
        height: 300px;
    }

    .container-for-call .call-column {
        width: 65%;
        margin-right: 30%;
        margin-left: 5%;
    }
}

@media (max-width: 950px) {
    .container-for-call {
        height: 400px;
    }

    .container-for-call .call-column {
        width: 65%;
        margin-right: 30%;
        margin-left: 5%;
    }
}

/* Конец заказа звонка */


/* карта виджет */

.map {
    position:relative;
    overflow:hidden;
    width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.map a {
    color: #eee;
    font-size: 0.75rem;
    position: absolute;
}

.map a:first-child {
    top: 0px;
}

.map a:last-child {
    top: 14px;
}

.map iframe {
    width:100%;
    height:400px;
    position:relative;
}

/* карта виджет конец*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
} */

.footer {
  position: relative;
  width: 100%;
  background: var(--secondary-color);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 10px;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('./images/wave.png');
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Начало формы */

#contactForm {
    width: 50%; 
    height: fit-content;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-color);
    padding: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    animation: fadeIn 0.3s ease;
    z-index: 20;
}

#contactForm label {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 0.5vh;
}

.form-container {
    width: 85%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contactForm input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 1.5vh;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#contactForm input:focus, 
#contactForm input:hover {
    border-color: var(--secondary-color);
    outline: none;
}

#contactForm button[type="submit"] {
    background: var(--secondary-color);
    color: var(--main-color);
    border: none;
    font-size: 1rem;
    margin-top: 3vw;
    padding: 10px 20px;
    cursor: pointer;
}

#closeButton {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 2vw;
    font-size: 2rem;
    align-self: flex-end;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

@media (max-width: 450px) {
    #contactForm {
        width: 70%;
    }
}

/* Конец формы */