:root {
    --bg-color: #F7F7F7;
    --main-color: white;
    --secondary-color: #213966;
}

* {
    padding: 0;
    margin: 0;
}
  
body {
    font-family: 'Montserrat';
    background-color: var(--bg-color);
}

.header {
    margin-top: 7vh;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .header {
        font-size: 24px;
    }
}

/* Навбар */

.navbar {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: space-between; /* Расположить элементы по краям контейнера */
    align-items: center; /* Центрирование по вертикали */
    height: 125px;
}

.navbar .logo {
    margin-left: 3%;
    height: 100%;
}

.navbar .right-side-part {
    height: 66%;
    margin-right: 3%;
    display: flex;
    gap: 20px; /* Промежуток между элементами */
    align-items: center; /* Центрирование по вертикали */
}

.navbar .right-side-part img {
    height: 100%;
}

.navbar .right-side-part .left-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Максимальное расстояние между строками */
}

.navbar .right-side-part .left-column .navbar-text {
    font-size: 28px;
    font-family: 'Sansation Light';
    text-align: end;
    text-decoration: underline;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 600px) {
    .navbar {
        height: 50px; /* Высота навбара увеличивается на маленьких экранах */
    }

    .navbar .right-side-part .left-column .navbar-text {
        font-size: 16px; /* Увеличение размера шрифта на маленьких экранах */
    }
}

/* Конец навбара */

/* Начало главного баннера */

.main-banner {
    width: 100%;
    height: 500px;
}

.main-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 600px) {
    .advantage-card {
        height: 150px;
        width: 150px;
    }

    .advantage-card .icon {
        height: 35px;
        width: 35px;
    }

    .advantage-card .text {
        font-size: 12px;
    }
}

/* Конец главного баннера */

/* Начало карточек преимуществ */

.advantages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    width: 300px;
}

.advantage-card .icon {
    margin-left: auto;
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-top: -75%;
}

.advantage-card .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50%;
    height: 50%;
    font-size: 22px;
    font-weight: 500;
}

.advantage-card .line {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 3px;
    background-color: var(--secondary-color);
    margin-top: auto;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 600px) {
    .advantage-card {
        height: 150px;
        width: 150px;
    }

    .advantage-card .icon {
        height: 35px;
        width: 35px;
    }

    .advantage-card .text {
        font-size: 12px;
    }
}

/* Конец карточек преимуществ */