:root {
    --bg-color: #F7F7F7;
    --main-color: white;
    --secondary-color: #213966;
}

* {
    padding: 0;
    margin: 0;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

.button {
  background-color: var(--secondary-color);
  border-radius: 0;
  border-style: none;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: fit-content;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (max-width: 450px) {
    .button {
        font-size: 10px;
        height: 24px;
        padding: 7px 12px;
        line-height: 0px;
    }
}

.button:hover,
.button:focus {
  background-color: #132444;
}

.header {
    margin-top: 7vw;
    margin-bottom: 7vw;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 450px) {
    .header {
        font-size: 20px;
    }
}

/* Навбар */

.navbar {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: space-between; /* Расположить элементы по краям контейнера */
    align-items: center; /* Центрирование по вертикали */
    height: 125px;
}

.navbar .logo {
    margin-left: 3%;
    height: 100%;
}

.navbar .right-side-part {
    height: 66%;
    margin-right: 3%;
    display: flex;
    gap: 20px; /* Промежуток между элементами */
    align-items: center; /* Центрирование по вертикали */
}

.navbar .right-side-part img {
    height: 100%;
}

.navbar .right-side-part .left-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Максимальное расстояние между строками */
}

.navbar .right-side-part .left-column .navbar-text {
    font-size: 28px;
    font-family: 'Sansation Light';
    text-align: end;
    text-decoration: underline;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .navbar {
        height: 50px; /* Высота навбара увеличивается на маленьких экранах */
    }

    .navbar .right-side-part .left-column .navbar-text {
        font-size: 14px; /* Увеличение размера шрифта на маленьких экранах */
    }
}

/* Конец навбара */

/* Начало главного баннера */

.main-banner {
    width: 100%;
    height: 500px;
    position: relative; /* Позволяет позиционировать элементы внутри баннера */
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: start;
}

.main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/back.png') no-repeat center center;
    background-size: cover; /* Заполнение фона изображением */
    opacity: 0.6; /* Прозрачность фона */
    z-index: 1; /* Размещает псевдоэлемент позади содержимого */
}

.main-banner .container {
    margin-top: 10%;
    margin-bottom: 5%;
    height: 85%;
    width: 75%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.main-banner .container .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33%;
    justify-content: center;
}

.main-banner .container .row span {
    font-weight: 600;
}

.main-banner .container .row .name-text {
    font-size: 48px;
}

.main-banner .container .row .secondary-name-text {
    font-size: 36px;
}

.main-banner .container .row .usual-text {
    font-size: 24px;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .main-banner {
        height: 350px;
    }

    .main-banner .container .row .name-text {
        font-size: 28px;
    }
    
    .main-banner .container .row .secondary-name-text {
        font-size: 16px;
    }
    
    .main-banner .container .row .usual-text {
        font-size: 12px;
    }
}

/* Конец главного баннера */

/* Начало услуг */

.container-for-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 0%;
}

.container-for-services .column-for-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    gap: 9vw;
    height: 100%;
}

.container-for-services .column-for-line {
    width: 10%;
    height: 100%;
}

.container-for-services .column-for-line .vertical-line {
    width: 2px;
    height: 1100px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.container-for-services .info-element {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 80%;
    gap: 2vw;
}

.container-for-services .info-element .title-of-service {
    font-size: 28px;
    font-weight: 700;
}

.container-for-services .info-element .usual-text-of-service {
    font-size: 18px;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .container-for-services .column-for-line .vertical-line {
        width: 1px;
        height: 750px;
    }
    
    .container-for-services .info-element {
        width: 95%;
        gap: 2vw;
    }
    
    .container-for-services .info-element .title-of-service {
        font-size: 14px;
        font-weight: 700;
    }
    
    .container-for-services .info-element .usual-text-of-service {
        font-size: 10px;
    }
}

/* Конец услуг */

/* Начало карточек преимуществ */

.advantages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    width: 300px;
}

.advantage-card .icon {
    margin-left: auto;
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-top: -75%;
}

.advantage-card .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50%;
    height: 50%;
    font-size: 22px;
    font-weight: 500;
}

.advantage-card .line {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 3px;
    background-color: var(--secondary-color);
    margin-top: auto;
}

/* Медиазапрос для маленьких экранов */
@media (max-width: 450px) {
    .advantage-card {
        height: 125px;
        width: 125px;
    }

    .advantage-card .icon {
        height: 30px;
        width: 30px;
    }

    .advantage-card .text {
        font-size: 10px;
    }

    .advantages {
        width: 90%;
        gap: 5%;
    }

    .advantage-card .line {
        height: 2px;
    }
}

/* Конец карточек преимуществ */